* {
  margin: 0;
}

.App {
  background-color: #fafafa;
  height: 100vh;
}

.app_headerImage {
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  object-fit: contain;
  /* https://developer.mozilla.org/ko/docs/Web/CSS/object-fit */
}
