* {
  margin: 0;
}

.App {
  background-color: #fafafa;
  height: 100vh;
}

.app_header {
  /* header 고정 */
  position: sticky;
  top: 0;
  z-index: 1;
  border-bottom: 1px solid lightgray;
  background-color: white;
  object-fit: contain;
  /* https://developer.mozilla.org/ko/docs/Web/CSS/object-fit */
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.app_headerImage {
  object-fit: contain;
}

.app_posts {
  padding: 20px;
  display: flex;
  /* flex-direction: row; */
  justify-content: center;
}

.app_postsLeft {
}
.app_postsRight {
  margin-left: 20px;
}

.app_signup {
  display: flex;
  flex-direction: column;
}
